---
import BackBlock from "@/components/block/back-block.astro"
import GridBlock from "@/components/block/grid-block.astro"
import MainBlock from "@/components/block/main-block.astro"
import MediaGridBlock from "@/components/block/media-grid-block.astro"
import getPage from "@/data/get-page"
import SingleColumnLayout from "@/layouts/single-column-layout.astro"
import { movies } from "@/data/movies"

const { description, title, url, Content } = await getPage("movies")
---

<SingleColumnLayout {description} {title} {url}>
  <GridBlock>
   <MainBlock {title}>
     <Content />
   </MainBlock>
      <MediaGridBlock media={movies} />
    </main>
  </GridBlock>
<BackBlock />
</SingleColumnLayout>
