---
import Favicons from "@/components/structure/favicons.astro"
import Meta from "@/components/structure/meta.astro"
import OpenGraph from "@/components/structure/open-graph.astro"
import Rss from "@/components/structure/rss.astro"
import siteConfig from "@/data/site-config"

interface Props {
	title: string
	description: string
	url: string
}

const { title, description, url }: Props = Astro.props
---

<script is:inline>
	const theme = localStorage.getItem("theme")
	if (theme === "dark" || (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
		document.documentElement.classList.add("dark")
	} else {
		document.documentElement.classList.remove("dark")
	}
</script>
<Meta {description} />
<Favicons />
<OpenGraph {title} {description} {url} />
<Rss />
<title>{title} - {siteConfig.title}</title>
